
 #loading{
     /* background-color: black; */
     height: 100vh;
     width: 100vw;
     position: fixed;
     z-index: 100;
}

body{
    background-color: black;
}

#loading>img:nth-child(1){
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#loading>img:nth-child(2){
    left: 0;
    right: 0;
    top: 80%;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#loading>h1{
    color: rgb(170, 169, 173);
    /* transform: rotate(25deg); */
    /* background-color: white; */
    top: 5%;
    left: 2%;
    /* font-size: 300%; */
    position: absolute;
    /* font-family: 'UnifrakturMaguntia', cursive; */
    text-shadow: 6px 6px 0px rgb(54, 18, 18);
    
}



/* -------------option section---------------- */

#option{
    height: 100vh;
     width: 100vw;
     /* position: fixed; */
}

#loginMainImg>img{
    filter: blur(3px);
}

#player_save_details{
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    background-color: transparent;
    /* border: 1px solid red; */
    box-shadow: rgba(82, 82, 82, 0.56) 0px 22px 70px 4px;
    z-index: 1;
} 

#option>img:nth-child(1){
    z-index: 2;
    top: -24%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 5;
}
#form{
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    
}

#pasword{
    top: 80%;
    bottom: 0;
    left: 35%;
    right: 0;
    width: 100%;
    margin: auto;
    position: absolute;
}
#userName{
    top: 66%;
    bottom: 0;
    left: 35%;
    right: 0;
    width: 100%;
    margin: auto;
    position: absolute; 
}

#btnLogin{
    top: 20%;
    bottom: 0;
    left: 72%;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute; 
    background-color: white; 
    z-index: 1;
    border: 1px solid transparent;
    background-color: transparent;

    
}

#loginImg{
    top: 20%;
    bottom: 0;
    left: 72%;
    right: 0;
    margin: auto;
    position: absolute;
}

/* #loginImg:hover{
    width: 8%;
    height: 8%;
    position: absolute;
} */

#option>h1{
    top: 49%;
    bottom: 0;
    left: 46%;
    right: 0;
    margin: auto;
    color: white;
    position: absolute;
    z-index: 1;
}
